@model ProiectCEBD.Models.COMPLEX_CAZARE

@{
    ViewBag.Title = "Details";
}

<style>
    .container {
        max-width: 100vw !important;
    }

    .body-content {
        margin-top: 0px;
        display: flex;
        height: 100vh;
        column-gap: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #sidebar {
        width: 20vw;
    }

    .complexuri-cazare-content {
        padding-top: 20px;
        width: 80vw;
    }

    footer {
        display: none;
    }
</style>

@Html.Partial("_Sidebar")
<div class="complexuri-cazare-content">
    <div>
        <h4>Informații despre @Html.DisplayFor(model => model.DENUMIRE)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DENUMIRE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DENUMIRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ADRESA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ADRESA)
            </dd>

        </dl>
        <br />
        <h4>Unități de cazare disponibile în @Html.DisplayFor(model => model.DENUMIRE)</h4>
        <hr />
        <p>
            @Html.ActionLink("Create New", "CreareUnitateCazare", "Admin_Complexuri_Cazare",
            new { complex = Model.DENUMIRE.Replace(" ", "-").ToLower(), id = Model.IDCOMPLEXCAZARE }, null)
        </p>
        <table class="table">
            <tr>
                <th>Denumire</th>
                <th><center>Pret</center></th>
                <th><center>Vezi camerele existente</center></th>
                <th><center>Action</center></th>
            </tr>
            @foreach (var unitate in ViewBag.UnitatiDeCazare)
            {
                <tr>
                    <td>@unitate.NUME</td>
                    <td><center>@unitate.PRET lei / noapte</center></td>
                    <td>
                        <center>
                            @{
                                var numeComplexUrlFriendly = Model.DENUMIRE.Replace(" ", "-").ToLower();
                                var numeUnitateUrlFriendly = unitate.NUME.Replace(" ", "-").ToLower();
                            }
                            @Html.ActionLink("VEZI CAMERELE", "VizualizareCamere", "Admin_Complexuri_Cazare",
                            new { complex = numeComplexUrlFriendly, unitate = numeUnitateUrlFriendly, idUnitate = unitate.IDUNITATICAZARE }, null)
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.ActionLink("Edit", "EditareUnitate", "Admin_Complexuri_Cazare",
                            new { complex = numeComplexUrlFriendly, unitate = numeUnitateUrlFriendly, id = unitate.IDUNITATICAZARE }, null)
                            @Html.ActionLink("Details", "Details", new { id = unitate.IDUNITATICAZARE }) |
                            @Html.ActionLink("Delete", "StergereUnitateCazare", "Admin_Complexuri_Cazare",
                            new { complex = numeComplexUrlFriendly, id = unitate.IDUNITATICAZARE }, null)
                        </center>
                    </td>
                </tr>
            }
        </table>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

