@model ProiectCEBD.Models.UNITATI_DE_CAZARE

@{
    ViewBag.Title = "Details";
}

<style>
    .container {
        max-width: 100vw !important;
    }

    .body-content {
        margin-top: 0px;
        display: flex;
        height: 100vh;
        column-gap: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #sidebar {
        width: 20vw;
    }

    .complexuri-cazare-content {
        padding-top: 20px;
        width: 80vw;
    }

    footer {
        display: none;
    }
</style>

@Html.Partial("_Sidebar")
<div class="complexuri-cazare-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Editare camera</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IDUNITATICAZARE)
            @Html.HiddenFor(model => model.IDCOMPLEXCAZARE)
            @Html.HiddenFor(model => model.IDTIPURIUNITATICAZARE)

            <div class="form-group">
                @Html.LabelFor(model => model.NUME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NUME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NUME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PRET, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PRET, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PRET, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <p>
        @Html.ActionLink("Back to Complex Page", "Details", new { numecomplex = ViewBag.DenumireComplex, id = ViewBag.IDComplex })
    </p>
</div>

